Flask==3.0.3
flask-cors==4.0.1
certifi>=2024.2.2

firebase-admin==6.5.0

google-analytics-data==0.18.7
google-api-core==2.19.1
google-auth==2.32.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

protobuf==4.25.3

requests==2.32.3
